body{
    margin: 0;
    overflow: hidden;
}


#full_container{
    display: grid;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.5fr 0.2fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content content content"
    "footer footer footer footer";
    background-color: rgb(22, 22, 22);
}

nav{
    background-color: rgb(22, 22, 22);
    grid-area: nav;
}
/*-------------FILTERS-----------------*/
#sidebar{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    grid-area: sidebar;
    background-color: rgb(39, 39, 39);

}

#search_filter{
    background-color: rgb(39, 39, 39);
    border-style: none;
    font-size: 2em;
    color: rgb(83, 83, 83);
    min-height: 100px;
}

input:focus{
    outline: none;
}

.filter{
    font-size: 2em;
    color: rgb(83, 83, 83);
    min-height: 100px;
    background-color: rgb(22, 22, 22);
    border-style: solid 1px black;
}

#type_filter{
    max-height: 2px;
}

/*----------TYPE FILTERS----------*/
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/*----------DESCRIPTIONS----------*/
#content{
    background-color: rgb(31, 31, 31);
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info{
    justify-content: center;
    align-items: stretch;
    min-width: 95%;
    min-height: 90%;
    display: grid;
    border-radius: 2em;
    overflow: hidden;
    background-color: rgb(146, 146, 146);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "image description type";
    

}

#pokemon_image{
    background-color: red;
    grid-area: image;
}

#pokemon_description{
    background-color: blue;
    grid-area: description;
}

#pokemon_type{
    background-color: yellow;
    grid-area: type;
}
/*--------------------------------------*/

#footer{
    background-color: rgb(22, 22, 22);
    grid-area: footer;
}

#pokemon_container{
    grid-area: main;
    display: grid;
    padding:10px;
    grid-template-columns: repeat(auto-fit,200px);
    grid-template-rows: repeat(auto-fit,200px);
    grid-gap: 20px;
    justify-content: center;
    overflow-y: scroll;
    background-color: rgb(39, 36, 36); 
}

@keyframes buttonRefresh {
    0% {transform: scale(0.9);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
  }

  @keyframes scaleHover {
    0% {transform: scale(0.9);}
    50%{transform: scale(1.02);}
    100% {transform: scale(1);}
  }

.pokemonShow{
    animation-name: buttonRefresh;
    animation-duration: 0.2s;
 
    position: relative;
    opacity: 100%;
    filter: grayscale(100%);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 200px;
    min-height: 200px;
    border-radius: 10px;
    background-color: rgb(146, 146, 146);
    order:0;
    
}


.pokemonShow:hover{
    animation-name: buttonRefresh, scaleHover;
    animation-duration: 0.2s, 0.2s;
    transition-property: filter;
    transition-duration: 0.3s;
    filter: grayscale(0%);
}

.pokemonShow:active{
    filter: grayscale(0%);
}

.pokemonHide{
    position: absolute;
    opacity: 0%;
}



/* width */
#pokemon_container::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  #pokemon_container::-webkit-scrollbar-track {
    background-color: rgb(53, 53, 53);
    
  }
   
  /* Handle */
  #pokemon_container::-webkit-scrollbar-thumb {
    background-color: rgb(32, 32, 32);
    
  }
  
  /* Handle on hover */
  #pokemon_container::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

@media only screen and (max-width: 770px){

    #full_container{   
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 2.0fr 2.0fr 0.5fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content"
        "footer";
    }

    #pokemon_container{
        grid-template-columns: repeat(1,250px);
        grid-template-rows: repeat(auto-fit,250px);
        grid-gap: 30px;
    }

    .pokemon{
        width: auto;
        height: auto;
        padding: 10px;
    }

    #info{
        width: 85%;
        height: 85%;
        border-radius: 1em;
        background-color: rgb(146, 146, 146);
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas: 
        "description";
    
    }

    #pokemon_description{
        background-color: blue;
        grid-area: description;
    }
}
